*{
  padding: 0;
  margin: 0;
  border: 0;
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none; 
}

*::-webkit-scrollbar {
  width: 2px; 
}

*,*:before,*after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;    
  font-family: 'Roboto', sans-serif;
  color: #3D3D3D;
  font-weight: 400;
  background-color: #F8F8F8;
  scrollbar-width: none;

}

a {
  color: #3D3D3D;
}

a:hover {
  color: #4EAD2E;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner {padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-weight:400;}

h1 {
  font-style: 20px;
}

h2 {
  font-size: 18px;
}

.bold {
  font-weight: 500;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.green {
  color: #4EAD2E;
}

.small {
  font-size: 12px !important;
}

.biggest {
  font-size: 40px !important;
}

.medium-gray {
  color: #616161;
}

.small-title {
  margin-bottom: 5px;
  display: inline-block;
}